:root{
    --fuentePrincipal: 'Rajdhani', sans-serif;
}

.title{
    color: #265ABF;
    font-size: 60px;
    text-align: center;
}
.title2{
    color: #FF0000;
    font-size: 60px;
    text-align: center;
}
.title3{
    
    font-size: 14px;
    text-align: center;
}
.box{
    max-width: 80%;
    margin: 0 auto;
    justify-content: center;
}
.text{
    font-size: 30px;
}
.input{
    border-radius: 10px;
    background-color: #E7EFFF;
    border: none;
    height: 50px;
    width: 700px;
    margin-bottom: 9px;
    font-weight: 700;
}


.input_password{
    padding: 10px;
}
.input_password::placeholder{
    font-family: var(--fuentePrincipal);
    font-weight: 700;
}
.campo{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    
}
.form{
    display: grid;
    
    gap: 50px;
}
.cont_btn{
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

.btn_input{
    font-family: var(--fuentePrincipal);
    font-weight: 700;
    font-size: 40px;
    background-color: #2669BF;
    border: none;
    border-radius: 16px;
    padding: 0 60px;
    transition: all 0.5s;
}
.btn_input2{
    font-family: var(--fuentePrincipal);
    color: #265ABF;
    font-weight: 700;
    font-size: 40px;
    background-color: #E7EFFF;
    border: none;
    border-radius: 16px;
    padding: 0 60px;
}
.lineas{
    
    display: grid;
    grid-template-columns: 6fr 1fr 6fr;
    align-items: center;
    justify-content: center;
}
.lineas_div{
    max-width: 1000%;
    border-top: 1px solid black;
    
}
.linea__text{
    font-size: 30px;
    text-align: center;
}
.redes__logos--img{
    max-width: 100px;
}
.redes__logos{
    display: flex;
    gap: 100px;
    justify-content: center;
}
.redes{
    margin-bottom: 30px;
}
@media (max-width:650px){
    .btn_input{
        font-size: 35px;
    }
}
@media (max-width:385px){
    .btn_input{
        font-size: 30px;
    }
}
@media (max-width:335px){
    .btn_input{
        font-size: 25px;
    }
}
@media (max-width:650px){
    .input{
        width: 90%;
    }
    .btn_input{
        width: 90%;
        display: flex;
        justify-content: center;
    }
}