body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Barra de navegación */
.navbar {
    background-color: #0040ff;
    overflow: hidden;
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.navbar-logo {
    color: #fff;
    text-decoration: none;
    font-size: 24px;
}

.navbar-right {
    display: flex;
    align-items: center;
}

.navbar-menu {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}

.navbar-menu li {
    margin-right: 20px;
}

.navbar-menu a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
}

.navbar-menu a:hover {
    text-decoration: underline;
}

.navbar-admin {
    display: flex;
    align-items: center;
}

.admin-photo {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-left: 20px;
}

.notification-dropdown {
    position: relative;
    margin-left: 20px;
}

.notification-button {
    background-color: #0040ff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    padding: 10px 15px;
    position: relative;
}

.notification-count {
    background-color: red;
    color: white;
    border-radius: 50%;
    padding: 2px 6px;
    font-size: 12px;
    position: absolute;
    top: -5px;
    right: -10px;
}

/* Dropdown de Notificaciones */
.notifications {
    display: none;
    position: absolute;
    top: calc(100% + 10px); /* Ajuste para asegurar que el dropdown se muestre debajo del botón */
    right: 0;
    background-color: white;
    min-width: 300px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1000;
    padding: 10px;
    border-radius: 5px;
    max-height: 400px;
    overflow-y: auto;
}

.notifications.show {
    display: block;
}

.notification-item {
    border-bottom: 1px solid #ddd;
    padding: 10px 0;
}

.notification-item:last-child {
    border-bottom: none;
}

.notification-item p {
    margin: 0;
}

.notification-item small {
    color: #888;
}
