.title2{
    color: #265ABF;
    font-size: 60px;
    text-align: center;}
    .box{
        width: 80%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
    }
    .btn_input2{
        font-family: var(--fuentePrincipal);
        color: #265ABF;
        font-weight: 700;
        font-size: 40px;
        background-color: #E7EFFF;
        border: none;
        border-radius: 16px;
        padding: 0 60px;
    }
    .btn_input{
        font-family: var(--fuentePrincipal);
        font-weight: 700;
        font-size: 40px;
        background-color: #2669BF;
        border: none;
        border-radius: 16px;
        padding: 0 60px;
    }